:root{
    --white: rgba(255, 255, 255, 0.87);

	--black: #1D1D1D;
    --grey: #363636;
    --lightRed: #FF8080;
    --categoryPurple: #8687E7;
}
*{
    box-sizing: border-box;
    margin: 0;	
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--black);
    color: var(--white);

}

